.carousel-caption h1{
    font-size: 80px;
    color: #ffffff;
    line-height: 1.1;
    font-weight: 900;
}
.carousel-caption p{
    display: block;
}
@media (max-width: 560px) {
    .carousel-caption h1 {
      font-size: 300%;
    }
    .carousel-caption h3 {
      font-size: 100%;
    }
  }
  
  @media (max-width: 400px) {
    .carousel-caption h1 {
      font-size: 200%;
    }
    .carousel-caption h3 {
      font-size: 80%;
    }
  }